

.footer-container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


footer{
    
    background: #032400;
    height: auto;
    width: 1;
    font-family: "Open Sans";
    padding-top:20px ;
    color: #fff;
    position: absolute;
    bottom: 0;
}

.footer-content{

display: flex;

align-items: center;

flex-direction: column;

text-align: center;
}

.footer-content h3 {

    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{

max-width: 500px;

margin: 10px auto;
}

.socials{

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a {
    text-align: none;
    color: #fff;
}

.socials a i {

    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{

    color: aqua;
}

.footer-bottem{

    background:#000 ;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottem p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottem span{

    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}